<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ejb_03_client/src/cn/pluto/ejb/UserManagerClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cn.pluto.ejb.UserManagerClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ejb_03_client"/>
</launchConfiguration>
